{% extends 'base.html' %}

{% block content %}
<div>
    <h2>Song list</h2>
    <div>
        {% for song in songs %}
        <a href="">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ song.title }}</h5>
                    <p class="card-text">Artist: {{ song.artist }}</p>
                    <p class="card-text">Original Artist: {{ song.original_artist }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}